@{
    ViewData["Title"] = "Home Page";
}


    <main>
        <!-- hero area start -->
        <section class="hero__area hero__area--2 position-relative custom-padding">
            <span class="shape shape__1 position-absolute"><img src="~/assets/images/shape/hero-shape-2-1.png" alt=""></span>
            <span class="shape shape__2 position-absolute"><img src="~/assets/images/shape/hero-shape-2-2.png" alt=""></span>
            <div class="container-fluid custom-width">
                <div class="row mm-reverse">
                    <div class="col-xl-6 col-lg-7 align-self-center">
                         <div class="hero__content hero__content--2 position-relative">
                             <h1 class="title mb-10">Distinct <br>
                                coffee aroma</h1>
                                <p>The coffee is brewed by first roasting the green coffee beans over hot <br> coals in a brazier. given an opportunity to sample.</p>
                                <div class="btns mt-45 d-flex align-items-center justify-content-start">
                                    <a href="about.html" class="site-btn site-btn__2">testy Coffee</a>
                                    <a href="contact.html" class="site-btn">Read More</a>
                                </div>
                         </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="hero__thumb hero__thumb--2 position-relative">
                            <img src="~/assets/images/hero/hero-img-2-1.png" alt="img">
                            <a href="//www.youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase:myCollection" data-animation="fadeInLeft" class="video-btn video-btn__2 d-flex align-items-center"><i class="fas fa-play"></i><span class="border-effect">play video</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero area end -->

        <!-- feature slider start -->
        <div class="feature__area feature__area--2 pb-115">
            <div class="container-fluid custom-width">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="feature__wrapper">
                            <div class="row mt-none-50">
                                <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                    <div class="feature__item feature__item--2">
                                        <span class="year">1992</span>
                                        <div class="content mt-20">
                                            <h2 class="title mb-10">How we Started</h2>
                                            <p>Curabitur semper erat a lacusey <br> sedn consequat, sit amet quamey.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                    <div class="feature__item feature__item--2">
                                        <span class="year">2002</span>
                                        <div class="content mt-20">
                                            <h2 class="title">Coffee Beans</h2>
                                            <p>Curabitur semper erat a lacusey <br> sedn consequat, sit amet quamey.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                    <div class="feature__item feature__item--2">
                                        <span class="year">2014</span>
                                        <div class="content mt-20">
                                            <h2 class="title">Family Work</h2>
                                            <p>Curabitur semper erat a lacusey <br> sedn consequat, sit amet quamey.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                    <div class="feature__item feature__item--2">
                                        <span class="year">2019</span>
                                        <div class="content mt-20">
                                            <h2 class="title">Bangladeshy Grades</h2>
                                            <p>Curabitur semper erat a lacusey <br> sedn consequat, sit amet quamey.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- feature slider end -->

        <!-- about area start -->
        <section class="about__area about__area--2 grey-bg position-relative pt-120 pb-130">
            <span class="shape shape__1 position-absolute"><img src="~/assets/images/shape/about-shape-2-1.png" alt=""></span>
            <span class="shape shape__2 position-absolute"><img src="~/assets/images/shape/about-shape-2-2.png" alt=""></span>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7">
                        <div class="about__left about__left--2 position-relative">
                            <img class="big" src="~/assets/images/about/about-img-2-1.png" alt="img">
                            <img class="small position-absolute" src="~/assets/images/about/about-img-2-2.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-6 offset-xl-1">
                        <div class="about__right about__right--2 pl-45 pt-45">
                            <div class="section-heading section-heading__black">
                                <span class="sub-title">about us</span>
                                <h2 class="title mb-25">one of the best coffee house
                                    in your home town</h2>
                                <p>Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibhtincidunt.</p>
                                <p>Donec et nibh maximus, congue est eu, mattis nunc. Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis. Aliquam erat volutpat. Aenean accumsan id mi nec semper. Lorem ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->

        <!-- populer menu area start -->
        <section class="popular-menu__area grey-bg position-relative pb-120">
            <span class="shape shape__1 position-absolute"><img src="~/assets/images/shape/menu-shape-1.png" alt=""></span>
            <span class="shape shape__2 position-absolute"><img src="~/assets/images/shape/menu-shape-2.png" alt=""></span>
            <span class="shape shape__3 position-absolute"><img src="~/assets/images/shape/menu-shape-3.png" alt=""></span>
            <span class="shape shape__4 position-absolute"><img src="~/assets/images/shape/menu-shape-4.png" alt=""></span>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <div class="section-heading section-heading__black mb-40">
                            <span class="sub-title">Special menu</span>
                            <h2 class="title">Cafena Popular Menu</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <div class="popular-menu__wrapper m-auto d-inline-block">
                            <div class="popular-menu__filter d-flex justify-content-center align-items-center mb-55">
                                <button class="active" data-filter="*">All</button>
                                <button data-filter=".cat1">chocolate</button>
                                <button data-filter=".cat2">coffee</button>
                                <button data-filter=".cat3">sandwiches</button>
                                <button data-filter=".cat4">sweets</button>
                                <button data-filter=".cat5">Black tea</button>
                                <button data-filter=".cat6">Grean Tea</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popular-menu-grid" class="row popular-menu__grid mt-none-30">
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-sizer"></div>
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-item cat1 cat5 mt-30">
                        <div class="popular-menu__item">
                            <div class="popular-menu__thumb">
                                <img src="~/assets/images/menu/menu-1.jpeg" alt="">
                            </div>
                            <div class="popular-menu__content text-center">
                                <h2 class="title">
                                    <a href="product-details.html">Americano Coffee</a>
                                </h2>
                                <div class="pp__price d-flex align-items-center justify-content-center">
                                    <h6 class="label">Price - </h6>
                                    <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                </div>
                                <div class="pp__action pp__action--2 mt-15 d-flex align-items-center justify-content-center">
                                    <div class="cart d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                                    </div>
                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="view d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-item cat2 cat5 cat4 mt-30">
                        <div class="popular-menu__item">
                            <div class="popular-menu__thumb">
                                <img src="~/assets/images/menu/menu-2.jpeg" alt="">
                            </div>
                            <div class="popular-menu__content text-center">
                                <h2 class="title">
                                    <a href="product-details.html">CAFFÈ LATTE</a>
                                </h2>
                                <div class="pp__price mt-10 d-flex align-items-center justify-content-center">
                                    <h6 class="label">Price - </h6>
                                    <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                </div>
                                <div class="pp__action pp__action--2 mt-15 d-flex align-items-center justify-content-center">
                                    <div class="cart d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                                    </div>
                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="view d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-item cat1 cat2 cat5 mt-30">
                        <div class="popular-menu__item">
                            <div class="popular-menu__thumb">
                                <img src="~/assets/images/menu/menu-3.jpeg" alt="">
                            </div>
                            <div class="popular-menu__content text-center">
                                <h2 class="title">
                                    <a href="product-details.html">ESPRESSO RISTRETTO</a>
                                </h2>
                                <div class="pp__price mt-10 d-flex align-items-center justify-content-center">
                                    <h6 class="label">Price - </h6>
                                    <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                </div>
                                <div class="pp__action pp__action--2 mt-15 d-flex align-items-center justify-content-center">
                                    <div class="cart d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                                    </div>
                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="view d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-item cat3 cat4 cat5 mt-30">
                        <div class="popular-menu__item">
                            <div class="popular-menu__thumb">
                                <img src="~/assets/images/menu/menu-4.jpeg" alt="">
                            </div>
                            <div class="popular-menu__content text-center">
                                <h2 class="title">
                                    <a href="product-details.html">LATTE MACCHIATO</a>
                                </h2>
                                <div class="pp__price mt-10 d-flex align-items-center justify-content-center">
                                    <h6 class="label">Price - </h6>
                                    <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                </div>
                                <div class="pp__action pp__action--2 mt-15 d-flex align-items-center justify-content-center">
                                    <div class="cart d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                                    </div>
                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="view d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-item cat1 cat5 cat4 mt-30">
                        <div class="popular-menu__item">
                            <div class="popular-menu__thumb">
                                <img src="~/assets/images/menu/menu-5.jpeg" alt="">
                            </div>
                            <div class="popular-menu__content text-center">
                                <h2 class="title">
                                    <a href="product-details.html">ESPRESSO LUNGO</a>
                                </h2>
                                <div class="pp__price mt-10 d-flex align-items-center justify-content-center">
                                    <h6 class="label">Price - </h6>
                                    <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                </div>
                                <div class="pp__action pp__action--2 mt-15 d-flex align-items-center justify-content-center">
                                    <div class="cart d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                                    </div>
                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="view d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 grid-item cat6 cat4 mt-30">
                        <div class="popular-menu__item">
                            <div class="popular-menu__thumb">
                                <img src="~/assets/images/menu/menu-6.jpeg" alt="">
                            </div>
                            <div class="popular-menu__content text-center">
                                <h2 class="title">
                                    <a href="product-details.html">CAFÈ AU LAIT</a>
                                </h2>
                                <div class="pp__price mt-10 d-flex align-items-center justify-content-center">
                                    <h6 class="label">Price - </h6>
                                    <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                </div>
                                <div class="pp__action pp__action--2 mt-15 d-flex align-items-center justify-content-center">
                                    <div class="cart d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                                    </div>
                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="view d-flex align-items-center justify-content-center">
                                        <a href="#0"><i class="fal fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- populer menu area end -->

        <!-- product popup start -->
        <div class="product-popup product-popup-1">
            <div class="view-background">
                <div class="row">
                    <div class="col-md-4 align-self-center">
                        <div class="quickview d-flex align-items-center justify-content-center">
                            <div class="quickview__thumb">
                                <img src="~/assets/images/products/pp-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="viewcontent">
                            <div class="viewcontent__header">
                                <h2>VICARAGUA COFFEE BEANS</h2>
                                <a class="view_close product-p-close" href="javascript:void(0)"><i class="fal fa-times"></i></a>
                            </div>
                            <div class="viewcontent__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fal fa-star"></i>
                            </div>
                            <div class="viewcontent__price">
                                <h4><span>$</span>99.00</h4>
                            </div>
                            <div class="viewcontent__stock">
                                <h4>Available :<span> In stock</span></h4>
                            </div>
                            <div class="viewcontent__details">
                                <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium risus lacinia vel. Fusce eget turpis orci.</p>
                            </div>
                            <div class="viewcontent__action">
                                <span>Qty</span>
                                <input type="number" placeholder="1">
                                <a class="site-btn" href="#">add to cart</a>
                            </div>
                            <div class="viewcontent__footer">
                                <ul class="list-unstyled">
                                    <li>Category:</li>
                                    <li>SKU:</li>
                                    <li>Brand:</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Watches</li>
                                    <li>2584-MK63</li>
                                    <li>Brenda</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product popup end -->

      